.introInformationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    align-self: center;
}

.introInformationName {
    font-size: 200%;
    align-self: flex-start;
    color: #3F3D56;
}

.introInformationBox {
    background: linear-gradient(135deg, #ffa942, #f1592b 50%, #e70c8d);
    min-width: 45vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 36px 12px 12px;
    -webkit-box-shadow: 10px 9px 26px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 9px 26px -6px rgba(0,0,0,0.55);
    box-shadow: 10px 9px 26px -6px rgba(0,0,0,0.55);
}

.introInformationBoxName{
    font-size: 270%;
    padding: 0.70em 0.70em;
}

.line {
    background: #fff;
    min-width: 2px;
    margin: 0 1vmax;
}

.introInformationBoxExtra {
    display: flex;
    padding: 0.85em 0.85em;
    font-size: 125%;
}

.introInfoBoxExtraDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introInfoLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 45vw;
}

.logoSVG {
    height: 3em;
    width: 3em;
    padding-top: 1em;
    padding-left: 0.75em;
}