.listContainer {
    background: linear-gradient(135deg, #ffa942, #f1592b 50%, #e70c8d);
    min-width: 20vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 36px 12px 12px;
    padding: 2rem;
}

.charMoveList {
    padding: 0.5rem;
    list-style: square;
    margin: 0;
}

.listItem {
    margin: 1rem;
}