.listContainer {
    background: #ffa942;
    min-width: 20vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 36px 12px 12px;
    padding: 2rem;
    -webkit-box-shadow: 10px 9px 26px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 9px 26px -6px rgba(0,0,0,0.55);
    box-shadow: 10px 9px 26px -6px rgba(0,0,0,0.55);
    margin: 1em;
}

.charMoveList {
    padding: 0.5rem;
    list-style: square;
    margin: 0;
}

.listItem {
    margin: 1rem;
}