.introWrapper {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    text-align: left;
}

.particles {
    position: absolute;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
}